@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  80% {
    transform: scale(1.2);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  background-color: #030D22;
}

.textbox {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  width: 50%;
  gap: 10px;
  color: #0ef3ff;
  /* border: 3px solid green; */
}

.textinput {
  width: 50%;
  height: 28px;
  color: #0ef3ff;
  font-family: "JetBrains Mono",monospace;
}

.valuelist {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "JetBrains Mono",monospace;
  color: #0ef3ff;
  /* border: 3px solid red; */
  width: 50%;
}

.checkbox {
  animation-duration: 0.7s;
  animation-name: bounceIn;
  accent-color: #fd21e2;
}

.checkboxcompleted {
  text-decoration: line-through;
}

.checkboxlabel {
  animation-duration: 0.7s;
  animation-name: bounceIn;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: #0ef3ff;
  padding: 7px 0;
  background: transparent;
  transition: border-bottom 0.4s;
}

.form__field:focus {
  border-bottom: 2px solid #0ef3ff;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #139ca3;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 16px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}